@page
@model RestaurantInfo.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-light">
                    <img src="~/search.svg" />
                </button>
            </span>
        </div>
    </div>
</form>

@foreach(var restaurant in Model.restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page=".\Edit" class="btn btn-outline-info" >
    <img src="~/plus.svg" />
</a>

@section footer{
    <div>@Model.Message</div>
}