@page
@model RestaurantInfo.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>Your restaurant was not found</h1>
<a asp-page="./List" class="btn-group-vertical">Return to List</a>

